:root {
	--color-white: #fff;
	--color-green: #017f67;
	--color-dark-green: #245852;
	--color-black: #292929;
	--color-light-black: #484848;
}

/* media breakpoints 992px, 768px, 576px, 488px*/
